resources/test4_OK.dtd

<!DOCTYPE classrooms[
        <!ELEMENT classrooms (classroom+, _classroom)>
        <!ELEMENT classroom (#PCDATA)>
        <!ELEMENT _classroom (#PCDATA)>
        <!ATTLIST classroom
                id CDATA #REQUIRED
                room (A1|A2|A3|A4) "A1"
                teacher CDATA #REQUIRED
                students CDATA #REQUIRED
                girls CDATA #IMPLIED
                boys CDATA #IMPLIED
                hours (1|2|2.5|3|4) "1">
        ]>